#feature-banner {
    background-image: linear-gradient(to right, rgba($color-primary, .4), rgba($color-secondary, .4)), url('../../uploads/2018/02/nathalia-bariani-100947.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    min-height: 80vh;
    padding-top: 25vh;
    position: relative;
    h1 {
        font-size: 3rem;
        text-shadow: 0 0 1rem rgba($color-secondary, .6);
    }
    p {
        font-size: 1.4rem;
        text-shadow: 0 0 1rem rgba($color-secondary, .6);
    }
    .banner-logo {
        margin: 2rem auto 0 auto;
        display: block;
        height: auto;
        width: 100%;
        max-width: 200px;
        background-image: linear-gradient( to bottom right, rgba(255, 255, 255, .9), rgba(255, 255, 255, .2));
        border-radius: 100%;
        box-shadow: 0 0 1rem rgba($color-secondary, .4);
    }
}

@media (max-width: 768px) {
    #feature-banner {
        text-align: center;
        padding-top: 0;
        .banner-logo {
            max-width: 150px;
        }
    }
}