$font__main: 'Cabin',
sans-serif;
$font__heading: 'PT Sans',
sans-serif;
$font__code: Monaco,
Consolas,
"Andale Mono",
"DejaVu Sans Mono",
monospace;
$font__pre: 'Cabin',
Courier,
monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;