.navbar {
    background-color: rgba( white, .6);
    margin: 0;
    padding: 2rem;
    .navbar-brand img {
        max-height: 3rem;
    }
    #navbarNav {
        margin: .5rem;
        .menu-item {
            list-style: none;
            display: inline-block;
            padding: .5rem;
            margin: .5rem;
            width: 100%;
            text-align: center;
            &:hover {
                background-color: white;
            }
        }
        #menu-primary {
            margin: 0;
            padding: 0;
        }
    }
    .navbar-toggler {
        border: 0;
    }
}

.admin-bar .fixed-top {
    top: 32px;
}